* {
    box-sizing: border-box;
}

html {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body {
    max-width: 1868px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
  
}

.container {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  
}

.clearfix{
    overflow: hidden;
}

.wrapper{
    padding-left:9.2941rem;
    padding-right:6.2941rem ;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding-top: 2rem;
    padding-bottom: 1.9412rem;
    font-size: 1rem;
    position: relative;
}

 a {
    float: left;
    color: #060606;
    font-family: 'Poppins', sans-serif;
    font-size:1rem ;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 1.4118rem;
    padding-right: 1.4118rem;
    transition: all 0.3s ease;
}

a:hover{
    border-bottom: 3px solid#060606;
    margin: -3px;
}

.btn1 { 
    display: flex;
    flex-flow: row wrap;
    background-color: transparent;
    border: none;
    color: #060606;
    font-family: 'Poppins', sans-serif;
    font-size:1rem ;
    position: absolute;
    right: 2.3529rem;    
}

.btn2 {
    display: flex;
    flex-flow: row wrap;
    background-color: transparent;
    border: none;
    color: #060606;
    font-family: 'Poppins', sans-serif;
    font-size:1rem ;
    position: absolute;
    right: 0;
}

.btn1:hover, .btn2:hover {
    cursor: pointer;
    color: gray;
}

.search{
    display: flex;
    flex-flow: row wrap;
    background: #446CCD 0% 0% no-repeat padding-box;
    color:#FFFFFF;
    padding-left: 1.3529rem;
    padding-top: 1.3529rem;
    padding-bottom:1.3529rem;
    padding-right: 1.3529rem;
    position: absolute;
    right: -5.5294rem;
    top:0.8235rem;
}

.search:hover {
    cursor:pointer;
    color:greenyellow;
}

hr {
    width: 100%;
    border: 1px solid #06060626;
    text-align:center;
}

.toggle > .icon,
.toggle > .icon:before,
.toggle > .icon:after{

    display: block;
    width: 1.4118rem;
    height: 0.1765rem;
    background-color: #555555;
    transition: background-color 0.3s linear, transform 0.3s linear;
   
}

.toggle > .icon:before,
.toggle > .icon:after {
    position: absolute;
    content:""
 
}

.toggle > .icon:before {
    top: -0.4706rem;
}

.toggle > .icon:after {
    top: 0.4706rem;
}

.toggle > .icon {
    position: relative;
    margin-top: 0.4706rem;
    margin-bottom: 0.4706rem;
}

.toggle {
    display:none;
    border:0;
    background-color: transparent;
    cursor: pointer;
    top: 0.5882rem;
    right:0px;
    position: relative;
}

.toggle.active > .icon {
    background-color: transparent;
}

.toggle.active > .icon:before {
    transform: translateY(0.4706rem) rotate(45deg);
}

.toggle.active > .icon:after {
    transform: translateY(-0.4706rem) rotate(-45deg);
}



h1{
    font-family: 'Poppins', sans-serif;
    color: #060606;
    font-size: 4.4706rem;
    padding-top: 1.1765rem;
}

p{
    font-family: 'Poppins', sans-serif;
    color:#6C6C6C;
    font-size: 1.1176rem;
    margin-top: -2.3529rem;
}

.search-container{
    float: left;
    margin-top: 1.2353rem;
    background: #F8F8F8;
    font-size: 1.1765rem;
    border: none;
    cursor: pointer;
    width: 50%;
    height:4.7059rem ;
    padding-left: 1.7647rem;
    padding-top: 1.3529rem;
    padding-bottom:1.7059rem ;
    position: relative;    
}

.buttonsearch{
    border: none;
    background-color: #F8F8F8 ;
    color: #060606;
    font-size: 1.2353rem;
    float: right;
    padding-top: 0.4706rem;
    padding-right:2.2941rem ;
    right: 0;
    position: absolute;
}

.buttonsearch:hover{
    cursor:pointer;
    opacity: 0.5;    
}

.inputsearch{
    border: none;
    background-color: #F8F8F8 ;
    color: #6C6C6C;
    font-size: 1.1765rem;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 0;
    margin-left:1.7647rem ;

}

.inputsearch:hover{
    cursor:pointer;
    opacity: 0.5;    
}

.inputsearch:focus{
    outline: none;
}

.buttonback{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 0.8824rem;
    background-color: #446CCD;
    border: none;
    padding-top: 1.3529rem;
    padding-left: 3.0588rem;
    padding-right: 3.0588rem;
    padding-bottom: 1.2353rem;
    position: relative;
    float: left;
}

.buttonback:hover {
    cursor:pointer;
    box-shadow: 0 4px 8px grey;
    color:greenyellow;
}

.btnhome{
    width: 100%;
    float: left;
    padding-top: 2.9412rem;
    padding-bottom: 2.9412rem;
  
}

.uli{
    overflow: auto;
    position: absolute;
    right: 5.0588rem;
}

ul {
    list-style-type: none;
    overflow: auto;
    color: #060606;  
}

li {
    float: right;
    padding-inline: 1.1765rem;

}

.btnface{
    border: none;
    background-color: #FFFFFF;
    color:#060606 ;
}

.btnin{
    border: none;
    background-color: #FFFFFF;
    color:#060606 ;
}

.btnface:hover,.btnin:hover {
    cursor:pointer;
    opacity: 0.5;
}

@media all and (max-width: 1300px) {

html{
    font-size: 16px;
}

.navbar2 {
    position: absolute;
    right: 0px;
    width: 40%;
    margin-top: 1.7647rem;
    float: left;
}

.navbar2 > .list {
    display:none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: #FFFFFF;
    opacity: 0.8;
}

.list.active {
    display:flex;
}

.toggle {
    position: absolute;
    right: 0;
    display:block;
}  

a {
    padding-top: 0.3529rem; 
    padding-bottom: 0.3529rem;
}

a:hover{
    border-bottom: none ;
    color: gray;
    margin: 0px;
}

.toggle {
    display:block;
    border:0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: -2.9412rem;
    bottom: -0.7059rem;   
}

.search{
  
    position: absolute; 
    right: 0;
  
}

.btn1, .btn2 { 

    position: relative;
    right: 0;
    padding-bottom: 0.5882rem;
    padding-left: 1.4118rem;

}
}


@media all and (max-width: 1205px) {

    html {
        font-size: 14px; 
        overflow-x: hidden ;
    }
    }

@media all and (max-width: 1000px) {

    html {
        font-size: 12px; 
        overflow-x: hidden ;
    }
    }


    @media all and (max-width: 600px) {

    html {
        font-size: 12px; 
        overflow-x: hidden ;
    }

    .search-container{
        width: 80%;
    }

    .toggle {
        position: absolute;
        right: 0;
        display:block;
    }  

    .navbar2 {
    width: 100%;
    }

    }